body {
    background: #0b2b0b;
    margin: 1.1em;
    color: white;
    font-style: normal;
    font-family: 'Droid Sans', 'Droid Arabic Naskh', sans-serif;
    font-size: 20px;
}

a {
    color: rgba(187, 242, 50, 0.98);
}

#publications {
    font-size: 16px;
}

li {
    margin-bottom: 0.6em;
}