body {
    background: lightgray;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 1em;
    /*color: white;*/
    font-style: normal;
    font-family: Baskerville;
/*, "Lato", "Helvetica Neue", sans-serif;*/
    font-size: 18px;
    line-height: 1.5;
}

/*a {*/
    /*color: rgba(187, 242, 50, 0.98);*/
/*}*/

#publications {
    font-size: 16px;
    margin-bottom: 0.5em;
}

.authors {
    margin: 5px;
}

.title {
    /*font-weight: bold;*/
}

.link {
    font-weight: bold;
}

.proceedings {
    margin: 5px;
}

li {
    margin-bottom: 0.6em;
}

.square {
    height: 16px;
    width: 32px;
    font-size: 13px;
    text-align:center;
    font-weight: bold;
    margin: 5px;
    border: 1px;
    border-radius: 8px;
    padding: 5px;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}

.CSC {
    background-color: lightblue;
}

.GTA {
    background-color: green;
}

.EDU {
    background-color: indianred;
}

.DAV {
    background-color: orange;
}

.PAC {
    background-color: chocolate;
}



